<div class="dialog-header fixed-dialog-header food-how-it-works-component container-fluid wrapper gtm-how-it-works">
  <div class="row middle-xs">
    <div class="col-xs-12">
      <button mat-button mat-dialog-close class="back-button">
          <mat-icon>close</mat-icon>
      </button>
      <h2 mat-dialog-title class="dialog-title">How it works</h2>
    </div>
  </div>
</div>
<mat-dialog-content class="dialog-container">
  <section class="wrapper container-fluid section section-1">
      <div class="row copy-container bottom-xs">
          <div class="col-xs-12 copy">
            <h2>My recipes</h2>
            <p>Store all your recipes in one place and find new ones added daily. Your Genius team recommends new recipes each week which you can schedule for your weekly meal plan.</p>
          </div>
      </div>
      <div class="genius-tip">
        <div class="row">
          <!-- <div class="avatar col-xs-2">
            <img src="assets/img/components/home/avatar-referrer.jpg" />
          </div> -->
          <div class="copy col-xs">
            <p><b>Tip:</b> You always have control. Feel free to add new recipes or remove any you don’t want.</p>
          </div>
        </div>
      </div>
    </section>
  <section class="wrapper container-fluid section section-2">
      <div class="row copy-container bottom-xs">
          <div class="col-xs-12 copy">
            <h2>My meals</h2>
            <p>Your weekly dinners each week selected from “My recipes” and instructions for how to cook each. Your Genius team will work with you to plan meals that fit within your budget and preferences.</p>
          </div>
      </div>
      <div class="genius-tip">
          <div class="row">
            <!-- <div class="avatar col-xs-2">
              <img src="assets/img/components/home/avatar-referrer.jpg" />
            </div> -->
            <div class="copy col-xs">
              <p><b>Tip:</b> Feel free to move or change these. You can even write notes and assign who’s cooking!</p>
            </div>
          </div>
        </div>
      </section>
  <section class="wrapper container-fluid section section-3">
        <div class="row copy-container bottom-xs">
            <div class="col-xs-12 copy">
              <h2>My groceries</h2>
              <p>Your weekly meals are broken down by ingredients and automatically added to your grocery lists.  Your Genius team will create online orders (through services like Instacart, etc.) for you for delivery or pickup so you never have to shop yourself!</p>
            </div>
        </div>
        <div class="genius-tip">
          <div class="row">
            <!-- <div class="avatar col-xs-2">
              <img src="assets/img/components/home/avatar-referrer.jpg" />
            </div> -->
            <div class="copy col-xs">
              <p><b>Tip:</b> Create new lists, add items to lists and mark off what ingredients you already have.</p>
            </div>
          </div>
        </div>
      </section>
  <section class="wrapper container-fluid section section-my-pantry">
          <div class="row copy-container bottom-xs">
              <div class="col-xs-12 copy">
                <h2>My pantry</h2>
                <p>You have a virtual pantry where you can save items that you use regularly but don’t need to buy each week. (Like spices, bulk items, etc)</p>
              </div>
          </div>
          <div class="genius-tip">
            <div class="row">
              <!-- <div class="avatar col-xs-2">
                <img src="assets/img/components/home/avatar-referrer.jpg" />
              </div> -->
              <div class="copy col-xs">
                <p><b>Tip:</b> Categorize these and add them to your grocery lists in a flash!</p>
              </div>
            </div>
          </div>
      </section>
  <section class="wrapper container-fluid section section-4">
        <div class="row copy-container bottom-xs">
            <div class="col-xs-12 copy">
              <h2>Chat</h2>
              <p>Your Genius team is always here to help. Simply tap the “Genius” tab and ask away! You can even coordinate meals with your family through the “Family” chat tab.</p>
            </div>
        </div>
        <div class="genius-tip">
          <div class="row">
            <!-- <div class="avatar col-xs-2">
              <img src="assets/img/components/home/avatar-referrer.jpg" />
            </div> -->
            <div class="copy col-xs">
              <p><b>Tip:</b> Remember this is Beta so we expect you to have questions and feedback. You are shaping the service so don’t be shy!</p>
            </div>
          </div>
        </div>
      </section>
  <section class="wrapper container-fluid section section-5">
          <div class="row copy-container bottom-xs">
              <div class="col-xs-12 copy">
                <h2><img src="../../../../assets/img/components/learning-sections/food-how-it-works/img-relax-text.png" alt="Relax" /></h2>
                <p>Knowing your Genius team is finding new and exciting recipes, helping plan your meals, and handling your groceries gives you more time for the things that matter. You deserve it.</p>
              </div>
          </div>
        </section>
</mat-dialog-content>
